#DJANGO_SECRET_KEY=change-this-secret
#DJANGO_DEBUG=True
#DJANGO_ALLOWED_HOSTS=127.0.0.1,localhost
#DJANGO_LANGUAGE_CODE=es-co
#DJANGO_TIME_ZONE=America/Bogota
#SQLITE_NAME=db.sqlite3
#N8N_WEBHOOK_URL=
#ONEDRIVE_BASE_URL=
#ONEDRIVE_ACCESS_TOKEN=




#DJANGO_SECRET_KEY=change-this-secret
#DJANGO_DEBUG=True
#DJANGO_ALLOWED_HOSTS=127.0.0.1,localhost
#DJANGO_LANGUAGE_CODE=es-co
#DJANGO_TIME_ZONE=America/Bogota

# 🔥 CAMBIO CLAVE
#DJANGO_USE_SQLITE=False

# 🔥 CONEXIÓN SUPABASE
#SUPABASE_DB_NAME=postgres
#SUPABASE_DB_USER=postgres
#SUPABASE_DB_PASSWORD=postgresql://postgres:SupaBase2026ProduccionDbP4ssw0rd@db.rbsupabase.rbgct.cloud:5432/postgres
#SUPABASE_DB_PORT=5432
#SUPABASE_DB_SSLMODE=require

# otros
#N8N_WEBHOOK_URL=
#ONEDRIVE_BASE_URL=
#ONEDRIVE_ACCESS_TOKEN=